*.tmp

# Word temporary
~$*.doc*

# Word Auto Backup File
Backup of *.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*

# Visio autosave temporary files
*.~vsd*
*/.DS_Store
docs/mock_exam/.DS_Store
.DS_Store

.DS_Store

.gradle
build
.idea
advanced-template.iml
.settings/org.eclipse.buildship.core.prefs
.project

